{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Site{% endblock %}</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{% static 'marg/assets/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'marg/assets/img/favicon.ico' %}">

  
  {% block extra_css %}{% endblock %}
</head>
<body>
  <!-- Example site header -->
  <h1>Home page</h1>

  {% block content %}{% endblock %}

  <!-- <script src="{% static 'marg/assets/js/bootstrap.bundle.min.js' %}"></script> -->
  {% block extra_js %}{% endblock %}
</body>
</html>
