{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'marg/assets/css/blog.css' %}">
{% endblock %}

<section class="blog">
  <div class="head">
    <div class="head-title">
      <h2 class="blog-title">Marg Career Blog</h2>

    </div>

    <!-- Button to create the post -->

    <div class="head-add">
      <input type="text" placeholder="What's on your mind......" readonly />
      <button class="open-modal-btn">+</button>
    </div>
  </div>

  <!-- Form to create Post -->

  <div class="modal" id="postModal">
    <div class="modal-content">
      <h2>Create Post</h2>

      <div class="input-row">
        <div class="input-group">
          <label for="title">Title</label>
          <input type="text" id="title" />
        </div>
        <div class="input-group">
          <label for="subject">Subject</label>
          <input type="text" id="subject" />
        </div>
      </div>

      <div class="input-group">
        <label for="tags">Tags</label>
        <input type="text" id="tags" />
      </div>

      <div class="input-group">
        <label for="description">Description</label>
        <textarea id="description"></textarea>
      </div>

      <div class="buttons">
        <button class="cancel-btn">Redo</button>
        <button class="post-btn">Post</button>
      </div>
    </div>
  </div>


  <!-- The Blog Post Listings  -->

  <div class="body-box">

{% for post in posts %}

  <div class="body-box-item-1 body-box-item">
    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" />

    <h3>
      <a href=/" class="post-title">{{ post.title }}</a>
    </h3>

    <p>{{ post.description | striptags | truncatewords:50 }}</p>

    <!-- Comments & Tags section -->
    <div class="meta-info">
    <span class="comments-count">{{ post.comment_set.count }} comments</span>
    <div class="tags">
       
        {% for tag in post.tag.all %}
        <span class="tag-item">{{ tag }}</span>
        {% endfor %}
    </div>
    </div>


    <a href="/" class="read-more-btn">
      <span>Read more</span>
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
{% endfor %}


  </div>
</section>


{% block extra_js %}
  <script src="{% static 'marg/assets/js/blog.js' %}"></script>
{% endblock %}